nav{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin:0 1rem;

}

.logo{
    width: 30%;
    margin-left: 20px;
}