body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    text-align: center;
    font-weight: bold;
  }
  
  .container {
    background-color: pink;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    background-color: rgb(137, 173, 183);
    height: 10vh;
    margin: 10px 20px;
    line-height: 10vh;
  }
  
  .content {
    display: flex;
  }
  
  .aside {
    width: 20%;
    height: 71vh;
    background-color: rgb(128, 184, 128);
    margin: 10px 20px;
    line-height: 70vh;
  }
  
  .jarak {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(190, 102, 87);
    margin: 11px 21px;
  }
  
  .jarak h4 {
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  
  .box-img {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
  }
  
  .image {
    height: 152px;
    width: 22%;
    gap: 5rem;
    background-color: #d5c9c9;
    margin-bottom: 20px;
    line-height: 150px;
  }
  
  .container .footer {
    height: 10vh;
    background-color: rgb(137, 173, 183);
    margin: 10px 20px;
    line-height: 10vh;
  }
  